/* color scheme: https://coolors.co/c3f73a-95e06c-68b684-094d92-1c1018 */
body{
	color:#1C1018;
}

h1{
	font-size: 2em;
}

#play1, #play2{
	background-color: #95E06C;
	font-size: .5em;
	border-radius: 20%;
}

#name1, #name2 {
	margin: 50px;
	padding: 10px;
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
	border-bottom: 3px solid #1C1018;
}

#name1 {
	float:left;
}

#name2{
	float:right;
}

.hidden{
	display: none;
}

.title-wrapper {
	padding: 30px;
	text-align:center;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	font-size:48px;
	font-family: 'Permanent Marker', cursive;
}

.game-wrapper{
	background-color: #1C1018;
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin: auto;
}

.board-row{
	display: block;
	padding: 0px;
	height: auto;
	overflow: hidden;
	margin-bottom: 5%;
}

.box{
	width: 30%;
	background-color: #094D92;
	border: none;
	margin-left: 5%;
	padding: 30px 0px;
	float: left;
	font-size: 80px;
}

.box.winner {
	background-color: #C3F73A;
}

.board-row button:first-child{
	margin: 0px;
}



